.div1 h1{
    background-color: aquamarine;
    }
h2{
    color: black;
}
.s1 h2{
    background-color: blue;
}.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu li{
    margin: 5px;
}
.active{
    background-color: chartreuse;
}
.footer{
    text-align: center;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content div{
    height: 25vh;
    width: 25%;
    border: 1px solid #000;
}
a:hover{
    color: red;
    text-decoration: underline;
}
@media (max-width: 600px) {
   .menu{
        flex-direction: column;
    }   
    .content{
        flex-direction: column;
    }         
    body{
        background-color: rgb(204, 181, 228);
    }
}
.login{
    background-color: rgb(233, 146, 163);
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    height: 360px;
}